.single-welcome-slide {
    width: 100%;
    height: 770px;
    background-color: #1cc3b2;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

.welcome-text h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    margin-bottom: 30px;
}

.welcome-text h2 {
    font-size: 4em;
    margin-bottom:  30px;
    color: #ffffff;
}

.welcome-slides .owl-prev, .welcome-slides .owl-next {
    transition-duration: 500ms;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1cc3b2;
    text-indent: -50000em;
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -40px;
    z-index: 10;
    background-position: center center !important;
    background-size: cover !important;
    opacity: 1;
    /*visibility: hidden;*/
}

.welcome-slides .owl-next{
    left: 3000px;
}

@media screen and (max-width: 768px){
    .welcome-text h2 {
        font-size: 2.5em;
    }
}


@media screen and (max-width: 500px){
    .welcome-text h2 {
        font-size: 2em;
    }

    .single-welcome-slide {
        height: 650px;
    }
}

.about-us-content-title h5 {
    line-height: 1.8;
    color: #636a76;
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: 700;
    border-bottom: solid 1.5px darkgray;
    font-size: 1.3 em;
    /* text-align: center; */
}

.about-us-content h5 {
    line-height: 1.8;
    color: #636a76;
    margin-bottom: 30px;
    font-weight: 400;
    text-align:justify;
    padding-right: 4em;
    margin-top: 0;
    padding-left: 4em;
    text-justify:inter-ideograph;
    font-size: 0.75em;
}

.single-thumb{
    border-radius: 10px;
    overflow: hidden;
    margin: 0.4em;
}

.single-thumb>img{
    transition-duration: 500ms;
    margin: 0.2em;
}

.single-thumb>img:hover{
    transform: scale(1.15);
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.single-service-box{
    background-color: #ffffff;
    box-shadow: 0 2px 14px 5px rgb(20 20 20 / 5%);
    border-radius: 3px;
    text-align: center;
    padding: 30px;
}

.single-service-box > h5{
    margin: 0 !important;
}

.single-service-box > img{
    margin: 0 1em 1em 1em;
}

.single-project-slide{
    z-index: 1;
    height: 480px;
    overflow: hidden;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.single-project-slide:hover{
   transform: scale(1.07);
}

.project-content {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.project-content .text {
    color: #f2f2f2;
    /* font-size: 15px; */
    padding: 24px 0px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.project-content .text h6 {
    color: #1cc3b2;
    font-size: 0.6 em;
    font-weight: 700;
}

.project-content .text h5 {
    color: #ffffff;
    margin:0.4em 0;
    font-size: 1.2em;
}

.hover-effects {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #1cc3b2;
    z-index: 100;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition-duration: 800ms;
}

.single-room-slide {
    height: 700px;
    background-color: #716c60;
}

.room-thumbnail {
    height: 100%;
    width: 100%;
}

.room-content {
    background-color: #716c60;
    padding-left: 80px;
}

.room-content h2 {
    color: #ffffff;
    font-size: 2.5em;
    display: block;
    margin: 0  0 15px 0;
}

.room-content h3 {
    color: #1cc3b2;
    font-size: 1.5em;
    display: block;
    margin: 0  0 25px 0;
}

.room-feature {
    margin: 0  0 50px 0;
    padding: 0!important;
}

.room-feature li {
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
}


@media screen and (max-width: 500px){
    .room-thumbnail {
        height: 40%;
    }

    .room-feature {
        margin: 0;
    }


    .single-room-slide {
        height: 850px;
        background-color: #716c60;
    }
}

.single-post-box{
    transition-duration: 500ms;
}

.single-post-area:hover{
    color: #1cc3b2 !important;
    transform: scale(1.2);
}

.post-thumbnail{
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    height: 220px;
}

.post-catagory{
    color: #1cc3b2;
    font-weight: bold;
}

.post-date{
    color: #afb4bf;
    margin-right: 1em;
    font-weight: bold;
}

.post-title{
    color: #2A303B;
    margin: 0.5em 0;
    font-size: 1.2em;
}

.service-box{
    background-color: white; 
    border-radius: 30px; 
    min-height: 395px; 
    padding-bottom: 1em;
}

.service-detail-btn {
    padding: 0;
}

.service-detail-btn:hover {
    background-color: transparent;
    color: #1cc3b2;
    font-weight: 600;
}

.service-tag-title{
    font-size: 1.5em;
    margin: 0 0 0.7em 0;
    font-weight: 600;
}

.service-detail{
    letter-spacing: 2px;
    font-size: 0.9em;
}


.fnq-box{
    background-color: white; 
    border-radius: 30px; 
    padding: 0.2em 0 0.5em 0;
    border: solid gray 1px;
    border-top: 0;
}

.fnq-q{
    box-shadow:-0.5px 2px 10px 1px gray;
    border-radius: 30px;
}

.fnq-tag-title{
    font-size: 1em;
    margin: 0.7em 0;
    font-weight: 600;
}

.fnq-ans{
    padding: 1em 4em;
}

.fnq-ans h6{
    font-size: 0.8em;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.4em;
    letter-spacing: 2px;
}

.target{
    position: relative;
    top: -100px;
}