.pc-hidden{
    display: none;
}

.single-welcome-slide {
    width: 100%;
    height: 770px;
    background-color: #1cc3b2;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

.welcome-text h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    margin-bottom: 30px;
}

.welcome-text h2 {
    font-size: 4em;
    margin-bottom:  30px;
    color: #ffffff;
}

.welcome-slides .owl-prev, .welcome-slides .owl-next {
    transition-duration: 500ms;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1cc3b2;
    text-indent: -50000em;
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -40px;
    z-index: 10;
    background-position: center center !important;
    background-size: cover !important;
    opacity: 1;
    /*visibility: hidden;*/
}

.welcome-slides .owl-next{
    left: 3000px;
}

.about-hr{
    width: 100%;
    /* border-width: 1px; */
    margin-top: 0;
}

.auct_third{
    margin-right: 3.6em; 
    margin-left: 20px;
}

.about-us-content-title h5 {
    line-height: 1.8;
    color: #636a76;
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: 700;
    /* border-bottom: solid 1.5px darkgray; */
    font-size: 1.3 em;
    /* text-align: center; */
}

.about-us-content h5 {
    line-height: 1.8;
    color: #636a76;
    margin-bottom: 30px;
    font-weight: 400;
    text-align:justify;
    padding-right: 4em;
    margin-top: 0;
    padding-left: 4em;
    text-justify:inter-ideograph;
    font-size: 0.75em;
}

.single-thumb{
    border-radius: 10px;
    overflow: hidden;
    margin: 0.4em;
}

.single-thumb>img{
    transition-duration: 500ms;
    margin: 0.2em;
}

.single-thumb>img:hover{
    transform: scale(1.15);
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.single-project-slide{
    z-index: 1;
    height: 480px;
    overflow: hidden;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.single-project-slide:hover{
   transform: scale(1.07);
}

.project-content {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.project-content .text {
    color: #f2f2f2;
    /* font-size: 15px; */
    padding: 24px 0px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.project-content .text h6 {
    color: #1cc3b2;
    font-size: 0.6 em;
    font-weight: 700;
}

.project-content .text h5 {
    color: #ffffff;
    margin:0.4em 0;
    font-size: 1.2em;
}

.hover-effects {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #1cc3b2;
    z-index: 100;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition-duration: 800ms;
}

.post-thumbnail{
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    height: 220px;
}

.service-box{
    background-color: white; 
    border-radius: 30px; 
    min-height: 395px; 
    padding-bottom: 1em;
}

.service-detail-btn {
    padding: 0;
}

.service-detail-btn:hover {
    background-color: transparent;
    color: #1cc3b2;
    font-weight: 600;
}

.service-tag-title{
    font-size: 1.5em;
    margin: 0 0 0em 0;
    font-weight: 600;
}

.service-detail{
    letter-spacing: 2px;
    font-size: 0.9em;
}


.fnq-box{
    background-color: white; 
    border-radius: 30px; 
    padding: 0.2em 0 0.5em 0;
    border: solid gray 1px;
    border-top: 0;
}

.fnq-q{
    box-shadow:-0.5px 2px 10px 1px gray;
    border-radius: 30px;
}

.fnq-tag-title{
    font-size: 1em;
    margin: 0.7em 0;
    font-weight: 600;
}

.fnq-ans{
    padding: 1em 4em;
}

.fnq-ans h6{
    font-size: 0.8em;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.4em;
    letter-spacing: 2px;
}

.target{
    position: relative;
    top: -100px;
}

.nobreak{
    white-space:nowrap;
}


@media screen and (max-device-width: 768px){
    .welcome-text h2 {
        font-size: 2.5em;
    }
}

.ser-title{
    border-radius: 20px 20px 0 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2em;
    background-color: #c3633c;
    line-height: 2.3em;
    text-align: center;
    /* min-height: 50px; */
}

.ser-content{
    word-wrap:break-word; 
    color:#144142;
    text-align: center;
    line-height: 1.8em;
    border-radius: 0 0 20px 20px;
    /* border: solid #c3633c 1px; */
    min-height: 100px;
    display: flex;
    align-items: center;
    padding: 1.5em 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ser2-title{
    background-color: #f4bc1d;
    color: white;
    word-wrap:break-word;
    width: 100%;
    line-height: 2em;
    font-size: 20px;
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ser2-content{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2em;
    background-color: #eae4e4;
    border-radius: 0 20px 20px 0;
}

.ser2-box{
    border-radius: 20px;
    min-height: 80px;
    margin: 1em 0;
}