html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
}

main {
    padding-top: 80px;
}

.home_tag{
    font-size: large;
    color: #144142;
    margin-top: 5em;
}

.row {
    padding-top: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #888;
}

.loading-container {
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}

.tab-content {
    padding-top: 7px;
}

/*---strong btn default color----*/
.btn-light {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #ddd;
    border-color: #ddd;
}

/*---end----*/

/*---checkbox----*/
.custom-control.overflow-checkbox .overflow-control-input {
    display: none;
}

.material-control-description {
    color: #555;
    cursor: pointer;
}

.custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator::after {
    -webkit-transform: rotateZ(45deg) scale(1);
    transform: rotateZ(45deg) scale(1);
    top: -6px;
    left: 5px;
}

.custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator::before {
    opacity: 1;
}

.custom-control.overflow-checkbox .overflow-control-indicator {
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #555;
    cursor: pointer;
    background-color: white;

}

.custom-control.overflow-checkbox .overflow-control-indicator::after {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    transition: 0.3s;
    -webkit-transform: rotateZ(90deg) scale(0);
    transform: rotateZ(90deg) scale(0);
    width: 10px;
    border-bottom: 4px solid #555;
    border-right: 4px solid #555;
    border-radius: 3px;
    top: -2px;
    left: 2px;
}

.custom-control.overflow-checkbox .overflow-control-indicator::before {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    transition: 0.3s;
    width: 10px;
    border-right: 7px solid #fff;
    border-radius: 3px;
    -webkit-transform: rotateZ(45deg) scale(1);
    transform: rotateZ(45deg) scale(1);
    top: -4px;
    left: 5px;
    opacity: 0;
}

/*---end checkbox----*/

.pipe {
    color: #a9a9a9;
    font-weight: bold;
}

.pd-best {
    padding-top: 7px;
}

/*.dropdown-menu {*/
/*    width: 100%;*/
/*}*/

.date-range-picker {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
}

.table.no-border tr td, .table.no-border tr th {
    border-width: 0;
}

table.dataTable tbody td {
    vertical-align: middle;
}

table.video-cell td {
    background-color: -moz-default-color;
    vertical-align: middle;
}

.vertical-align-middle {
    vertical-align: middle;
}

/*---play icon----*/

.btn-snapshot {
    width: 75px;
    height: 50px;
}

.btn-image-container {
    position: relative;
    width: 75px;
    height: 50px;
}

.btn-image-container .play-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.btn-image-container:hover .play-icon {
    display: block;
    background: url("/img/play-icon.png") center center no-repeat;
    cursor: pointer;
}

.play-snapshot {
    width: 240px;
    height: 135px;
    border-radius: 4px;
}

.image-container {
    position: relative;
    width: 240px;
    height: 135px;
}

.image-container .play-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.image-container:hover .play-icon {
    display: block;
    background: url(/img/play-icon.png) center center no-repeat;
    cursor: pointer;
}

/*---end play icon----*/

/*---status icon----*/

.offline:before {
    content: "\f03d";
    color: #8c8c8c;
}

.task-enabled:before {
    content: "\f0ae";
    color: lawngreen;
}

.online-channel:before {
    content: "\f2bc";
    color: green;
}

.online:before {
    content: "\f03d";
    color: lawngreen;
}

.playing:before {
    content: "\f04b";
    color: lawngreen;
}

.task-camera-online:before {
    content: "\f03d";
    color: lawngreen;
}

.task-camera:before {
    content: "\f03d";
    color: #aaa;
}

.vms-unlock:before {
    content: "\f09c";
    /*color: lawngreen;*/
}

.vms-lock:before {
    content: "\f023";
    color: red;
}

/*---end status icon----*/

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
    background: #fff;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
    color: #fff;
}

/* --- jstree ---*/
.tree {
    min-height: 20px;
    /*padding:19px;*/
    margin-bottom: 20px;
    /*background-color:#fbfbfb;*/
    /*border:1px solid #999;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.tree li {
    list-style-type: none;
    margin: 0;
    /*padding: 10px 0 0 5px;*/
    position: relative
}

.tree li::before, .tree li::after {
    content: '';
    left: -23px;
    position: absolute;
    right: auto
}

.tree li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px;
}

.tree li::after {
    border-top: 1px solid #999;
    height: 17px;
    top: 17px;
    width: 26px;
}

.tree li span {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
}

.tree li.parent_li > span {
    cursor: pointer
}

.tree > ul > li::before, .tree > ul > li::after {
    border: 0
}

.tree li:last-child::before {
    height: 17px
}

.tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
    background: #eee;
    /*border:1px solid #94a0b4;*/
    border: 1px solid #94a0b4;
    color: #000
}

/*--- PTZ ---*/
.arrow-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.box {
    width: 160px;
    height: 160px;
    background-image: url("/img/add.png");
    background-repeat: no-repeat;
    background-position: center;
}

.drag {
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-algin: center;
    background-color: indianred;
}

/*--- end PTZ ---*/
.targetDiv {
    position: relative;
}

.fr-draw-face {
    position: absolute;
    border-radius: 4px;
}

.svg-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-left: inherit;
    /*z-index: 5;*/
    pointer-events: all;
    -moz-user-select: none;
    -webkit-user-select: none;
}


.video-box {
    position: relative;
    width: 100%;
}

#remote-video {
    width: 100%;
    display: block;
    object-fit: cover;
    border: 1px solid #eee;
    background-color: #F2F6FC;
    border-radius: 4px;
}

#local-video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35%;
    object-fit: cover;
    border: 1px solid #eee;
    background-color: #EBEEF5;
    border-radius: 4px;
}

.drop-right {
    position: relative;
}

.drop-right>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 5px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}


.drop-right>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: black;
    margin-top: 5px;
    margin-right: -10px;
}

.drop-right.pull-left {
    float: none;
}

.drop-right.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.ui-draggable-dragging { cursor: grabbing; !important;}

#timeline-container{
    overflow: hidden;
    white-space: nowrap;
    height:35px;
    position: relative;
    top:-45px;
    display:flex;
    align-items: flex-end;
    margin-top: 5px;
}
#father-timeline{
    margin-left:-300px;
    height:25px;
    z-index: 2;
    width: auto;
}
#record{
    height:25px;
}
.finger{
    position:relative;
    height:45px;
    border-right: solid red 1px;
    margin-left: -28px;
    z-index: 1;
}
.tic{
    border-left:1px solid black;
    width:8px;
    height:28px;
    display: inline-block;
}
.sub{
    height:15px;
}

.position{
    position: absolute;
    z-index: 100;
    display: none;
}

.device{
    border: solid #bbb 1px;
    padding: 0.5em;
}

.title{
    min-height: 3em;
    background-color: lightgray;
    border: solid white 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0 20px 0 5px;
}

.slideBox{
    border: solid #bbb 1px;
    padding: 10px;
    margin: 0 1px;
}

.slideHide{
    display: none;
}

#calling{
    z-index: 100;
    position: fixed;
    right: 2em;
    top: 70px;
    padding: 0.5em;
    border: solid #28a745 1px;
    border-radius: 20px;
    box-shadow: 2px 2px #bbb;
    display: none;
}