html,
body{
    width:100%;
    overflow-x:hidden;
}

.top-header-area, .footer-area{
    background-color: #716c60;
    width: 100%;
}

.top-header-area i{
    padding-right: 5px;
    color: #1cc3b2;
}

.top-header-content  > a{
    padding-right: 1em;
    color: white;
}

.nav-item{
    min-width: 120px;
    color: black;
    font-size: 1.2em;
}
.mobile-show{
    display: none;
}

@media screen and (max-width: 768px){
    .mobile-hide {
        display: none;
    }
    .mobile-show{
        display: block;
    }
    .nav-item{
        font-size: 1.5em;
    }
}

.footer-area{
    color: white!important;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer-area h4{
    color: #1cc3b2;
    margin: 0.5em 0;
}

.footer-area p{
    color: #d9d9d3;
    margin: 0!important;
}

.breadcrumb-area{
    height: 300px;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: multiply;
}


.breadcrumb-content h2{
    color: white;
    margin: 0;
    margin-bottom: 0.5em;
}

.breadcrumb-content h4{
    color: white;
    margin: 0;
    margin-bottom: 0.5em;
}

.horizontal-scroll-wrapper{
    display: flex;
    overflow-x: auto;
    padding: 1em 0;
    /* hide scroll bar */
    scrollbar-width: none;

}

.section{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    margin: 50px 0;
    /* min-height: 70vh; */
    align-items: center;
    margin-bottom: 5em;
}

.section-heading{
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-size: 1.5em;
}

.card
{
    border: none;
    border-radius: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

@keyframes marquee {
    0% { transform: translateX(0%); } /* Start from the original position */
    100% { transform: translateX(-100%); } /* Move from left to right */
}

.card-body {
    overflow: hidden;
}

.card-title {
    font-size: 1em;
    font-weight: 500;
    /* margin-bottom: 20px; */
    white-space: nowrap;
}

.card-title:hover {
    animation: marquee 5s linear infinite;
}

.card .like-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 0.5em;
    /* border: solid 1px #716c60; */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding: 3px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-btn .fas.fa-heart {
    display: none;
}

.like-btn.active .far.fa-heart {
    display: none;
}

.like-btn.active .fas.fa-heart {
    display: block;
    color: red;
}

.tag-group .tag{
    color: black;
    font-weight: bold;
    display: flex;
    border-radius: 30px;
    margin-bottom: 15px;
}

.restaurant-info .tag-group .tag{
    margin-bottom: 25px;
}

.tag-group .tag .tag-icon{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0 0.5em;
    border-radius: 30px;
}

.tag-group .tag .tag-text{
    padding: 0 0.5em;
    font-weight: normal;
}

.restaruant-box .tag-group{
    font-size: 0.65em;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    flex-wrap: wrap;
}

.restaruant-box .tag-group .tag{
    background-color: #bbbbbb;
}

.restaurant-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurant-info .like-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 0.5em;
    /* border: solid 1px #716c60; */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding: 3px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-info .restaurant-btn-group{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.restaurant-info .restaurant-btn-group .action-btn{
    background-color: #1cc3b2;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    font-size: 1em;
    font-weight: 500;
    transition-duration: 500ms;
}

.restaurant-info .restaurant-btn-group .action-btn.outline
{
    background-color: white;
    color: #1cc3b2;
    border: solid 2px #1cc3b2;

}

.meals-box .card
{
    box-shadow: none;
    border-bottom: solid 1px #d9d9d3;
}

.meals-box .card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meals-box .card-body div{
    height: 90px;
}

.meals-box .card-body .meal-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meals-box .card-body .meal-info .meal-name{
    font-size: 1.2em;
    font-weight: 900;
    margin: 0;
}

.meals-box .card-body .meal-info .meal-description{
    font-size: 0.7em;
    font-weight: 500;
    color: #716c60;
    margin: 0;
}

.meals-box .card-body .meal-info .meal-price{
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0;
}


.modal-title{
    margin: 0!important;
}

.bootbox .modal-header{
    display: block;
}

.roberto-btn {
    min-width: 150px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 0 40px;
    text-align: center;
    text-transform: capitalize;
    background-color: #1cc3b2;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    transition-duration: 500ms;
}


.roberto-btn-revert {
    min-width: 150px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 0 30px;
    text-align: center;
    text-transform: capitalize;
    color: #1cc3b2;
    background-color: #ffffff;
    border: solid #1cc3b2 2px;
    border-radius: 2px;
    transition-duration: 500ms;
}


.bg-img {
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.footer-header{
    font-size: 0.7em;
    margin: 2em 0 1em 0;
    color: #f4bb1d;
}

.footer-content{
    font-size: 0.7em;
    margin: 0;
}

.footer-solgen{
    font-size: 1em;
    text-align: end;
    /* margin: 2em 0 1em 0; */
}

.footer-logo{
    transform:scale(0.7);
}